%nav.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      %a.navbar-brand{:href => "/"}  Conference Track Mgt
    #navbar.navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li.active
          %a{:href => ""} Home
        %li
          %a{:href => ""} About
        %li
          %a{:href => ""} Contact
      %ul.nav.navbar-nav.navbar-right
        -  unless user_signed_in?
          %li
            = link_to 'Login', new_user_session_path
          %li
            = link_to 'Register', new_user_registration_path
        - else
          %li
            = link_to 'Sing out', destroy_user_session_path, method: :delete
%br
%br
%br
