.alert {
  position: relative;
  width: 89%;
  margin-left: 6%;
}

.alert span{
  float: right;
  border-radius: 10px;
  border: solid 1px #fff;
  padding: 5px;
  font-size: 10px;
}
.alert span:hover{
  background: #fff;
  border: solid 1px #404040;
  cursor: pointer;
}